doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/main.css")
    title Landify
  body 
    header.header 
      .container 
        nav.header__nav 
          .header__nav-block
            a.header__nav-link(href="/") 
              img(src="./images/logo.svg", alt="logo")
            ul.header__nav-list 
              li.header__nav-list-item
                a.header__nav-list-link(href="#") About
              li.header__nav-list-item
                a.header__nav-list-link(href="#") Products
              li.header__nav-list-item
                a.header__nav-list-link(href="#") Pricing
              li.header__nav-list-item
                a.header__nav-list-link(href="#") Blog
              li.header__nav-list-item
                a.header__nav-list-link(href="#") Jobs
              li.header__nav-list-item
                a.header__nav-list-link(href="#") More
          .header__nav-block 
            ul.header__nav-links 
              li.header__nav-links-item 
                a.header__nav-links-link(href="#")
                  img(src="./images/GooglePlayBadge.svg", alt="Google Play Badge") 
              li.header__nav-links-item 
                a.header__nav-links-link(href="#") 
                  img(src="./images/AppStoreBadge.svg", alt="App Store Badge")
    .welcome
      .container 
        .welcome__content 
          .welcome__block.welcome__block-text 
            h1.welcome__heading Organise projects.<br/>Get more done.
            a.welcome__link(href="#") Get Started
          .welcome__block.welcome__block-img
            img.welcome__img(src="./images/iPhoneX.svg", alt="Iphone x")
    .companies
      .container 
        .companies__content
          ul.companies__list 
            li.companies__list-item
              img.companies__list-img(src="./images/logo_airbnb.svg", alt="company Airbnb")
            li.companies__list-item
              img.companies__list-img(src="./images/logo_hubspot.svg", alt="company Hubspot")
            li.companies__list-item
              img.companies__list-img(src="./images/logo_google.svg", alt="company Google")
            li.companies__list-item
              img.companies__list-img(src="./images/logo_microsoft.svg", alt="company Microsoft")
            li.companies__list-item
              img.companies__list-img(src="./images/logo_walmart.svg", alt="company Walmart")
            li.companies__list-item
              img.companies__list-img(src="./images/logo_fedEx.svg", alt="company FedEx")
    .features 
      .container 
        .features__content
          .features__heading
            h2.features__heading-title Tailor-made features
            p.features__heading-desc Lorem ipsum is common placeholder text used to demonstrate the graphic elements of a document or visual presentation.
          ul.features__list 
            li.features__list-item
              img.features__list-item-img(src="./images/features1.svg", alt="")
              h4.features__list-item-heading Robust workflow
              p.features__list-item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.
            li.features__list-item
              img.features__list-item-img(src="./images/features2.svg", alt="")
              h4.features__list-item-heading Flexibility
              p.features__list-item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.
            li.features__list-item
              img.features__list-item-img(src="./images/features3.svg", alt="")
              h4.features__list-item-heading User friendly
              p.features__list-item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.
            li.features__list-item
              img.features__list-item-img(src="./images/features4.svg", alt="")
              h4.features__list-item-heading Multiple layouts
              p.features__list-item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.
            li.features__list-item
              img.features__list-item-img(src="./images/features5.svg", alt="")
              h4.features__list-item-heading Better components
              p.features__list-item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.
            li.features__list-item
              img.features__list-item-img(src="./images/features6.svg", alt="")
              h4.features__list-item-heading Well organised
              p.features__list-item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.
    .stories
      .container 
        .stories__content
          .stories__block 
            .stories__heading 
              h2.stories__heading-title Real Stories from Real Customers
              p.stories__heading-desc Get inspired by these stories.
            .stories__comment
              header.stories__comment-header 
                img.stories__comment-img(src="./images/Hubspot Logo.svg", alt="Hubspot Logo")
              main.stories__comment-main 
                p.stories__comment-desc To quickly start my startup landing page design, I was looking for a landing page UI Kit. Landify is one of the best landing page UI kit I have come across. It’s so flexible, well organised and easily editable.
              footer.stories__comment-footer 
                h4.stories__comment-user-name Floyd Miles
                p.stories__comment-user-skills Vice President, GoPro
          .stories__block
            .stories__comment
              header.stories__comment-header 
                img.stories__comment-img(src="./images/Airbnb Logo.svg", alt="Airbnb Logo")
              main.stories__comment-main 
                p.stories__comment-desc I used landify and created a landing page for my startup within a week. The Landify UI Kit is simple and highly intuitive, so anyone can use it.
              footer.stories__comment-footer 
                h4.stories__comment-user-name Jane Cooper
                p.stories__comment-user-skills CEO, Airbnb
            .stories__comment
              header.stories__comment-header 
                img.stories__comment-img(src="./images/BookMyShow Logo.svg", alt="BookMyShow Logo")
              main.stories__comment-main 
                p.stories__comment-desc Landify saved our time in designing my company page.
              footer.stories__comment-footer 
                h4.stories__comment-user-name Kristin Watson
                p.stories__comment-user-skills Co-Founder, BookMyShow
    .total
      .container 
        .total__content 
          .total__block 
            h2.total__heading Our 18 years of achievements
            p.total__desc With our super powers we have reached this
          .total__block 
            ul.total__list
              li.total__list-item
                .total__list-item-block 
                  img.total__list-item-img(src="./images/features1.svg", alt="")
                .total__list-item-block 
                  h3.total__list-item-heading 10,000+
                  span.total__list-item-info Downloads per day
              li.total__list-item
                .total__list-item-block 
                  img.total__list-item-img(src="./images/features4.svg", alt="")
                .total__list-item-block 
                  h3.total__list-item-heading 2 Million
                  span.total__list-item-info Users
              li.total__list-item
                .total__list-item-block 
                  img.total__list-item-img(src="./images/features5.svg", alt="")
                .total__list-item-block 
                  h3.total__list-item-heading 500+
                  span.total__list-item-info Clients
              li.total__list-item
                .total__list-item-block 
                  img.total__list-item-img(src="./images/total.svg", alt="")
                .total__list-item-block 
                  h3.total__list-item-heading 140
                  span.total__list-item-info Countries
    .desc 
      .container 
        .desc__content 
          .desc__block.desc__block-img
            img.desc__img(src="./images/iPhoneX.svg", alt="Iphone x")
          .desc__block.desc__block-text
            h2.desc__heading Headline
            p.desc__par Lorem ipsum dolor sit amet, consectetur adipiscing elit. Condimentum diam orci pretium a pharetra, feugiat cursus. Dictumst risus, sem egestas odio cras adipiscing vulputate. Nisi, risus in suscipit non. Non commodo volutpat, pharetra, vel.
            a.desc__link(href="#")
              span.desc__link-title Get started
              img.desc__link-img(src="./images/right-arrow.svg", alt="right arrow")
    .fashion
      .container 
        .fashion__content 
          .fashion__block.fashion__block-top 
            h2.fashion__heading Enter the world of all fashion trends
            p.fashion__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venenatis scelerisque at quam congue posuere libero in sit quam. Consequat, scelerisque non tincidunt sit lectus senectus.
          .fashion__block.fashion__block-bottom
    .app 
      .container 
        .app__content 
          .app__block
            .app__block-item.app__block-item-top
              h2.app__block-item-top-title Manage your projects from your mobile
              p.app__block-item-top-desc Download the app to manage your projects, keep track of the progress and complete tasks without procastinating. Stay on track and complete on time!
            .app__block-item.app__block-item-bottom 
              h5.app__block-item-bottom-title Get the App
              ul.app__block-item-bottom-list
                li.app__block-item-bottom-list-item
                  a.app__block-item-bottom-list-link(href="#") 
                    img(src="./images/GooglePlayBadge.svg", alt="Google Play Badge")
                li.app__block-item-bottom-list-item
                  a.app__block-item-bottom-list-link(href="#") 
                    img(src="./images/AppStoreBadge.svg", alt="App Store Badge")
          ul.app__list-images 
            li.app__list-images-item 
              img.app__list-images-img(src="./images/Phone Mockup 1.svg", alt="Phone")
            li.app__list-images-item 
              img.app__list-images-img(src="./images/Phone Mockup 2.svg", alt="Phone")
    footer.footer 
      .container 
        .footer__content 
          .footer__block 
            .footer__block-item 
              a.footer__block-link(href="/") 
                img(src="./images/logo-footer.svg", alt="logo")
            .footer__block-item 
              ul.footer__block-list 
                li.footer__block-list-item
                  a.footer__block-list-link(href="#") Download Now
                li.footer__block-list-item
                  a.footer__block-list-link(href="#") License
            .footer__block-item 
              ul.footer__block-list 
                li.footer__block-list-item
                  a.footer__block-list-link(href="#") About
                li.footer__block-list-item
                  a.footer__block-list-link(href="#") Features
                li.footer__block-list-item
                  a.footer__block-list-link(href="#") Pricing
                li.footer__block-list-item
                  a.footer__block-list-link(href="#") Careers
                li.footer__block-list-item
                  a.footer__block-list-link(href="#") Help
                li.footer__block-list-item
                  a.footer__block-list-link(href="#") Privacy Policy
            .footer__block-item 
              p.footer__block-copyright © 2020 Landify UI Kit. All rights reserved
          .footer__block 
            h4.footer__block-title Get the App
            ul.footer__block-list-images 
              li.footer__block-list-images-item
                img(src="./images/GooglePlayBadge.svg", alt="Google Play Badge")
              li.footer__block-list-images-item
                img(src="./images/AppStoreBadge.svg", alt="App Store Badge")
    script(src="./js/main.js")